<h1 class="title">Добро пожаловать </h1>
<p class="description">Магазин скоростных головоломок в Екатеринбурге с постоянно расширяющимся ассортиментом!

    Здесь вы можете купить кубики Рубика 3х3 и других размерностей, мегаминксы, пирамидки, скьюбы, скваеры, а также
    огромное множество других головоломок и аксессуаров к ним по лучшим ценам в Екатеринбурге.

    Даже самый дешевый кубик в каталоге в разы качественнее, чем скрипящие и ломающиеся кубики, к которым все привыкли.
</p>